@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

:root {
    --blue: #3459a3;
    --green: #61a375;
    --company:var(--green);
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: var(--company);

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

table, tr, td {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;

    width: 100%;
    height: 64px;
    padding: 10px 0;

    background: #ffffff;
    border-bottom: solid 5px var(--company);

    z-index: 8000;
}

#header .menu, #header .mobileMenu {
    vertical-align: middle;
    color: var(--company);
}

#header .menu a:link, #header .menu a:visited, #header .mobileMenu a:link, #header .mobileMenu a:visited, #mobileMenuLinks li a:link, #mobileMenuLinks li a:visited {
    color: var(--company);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
#header .menu a:hover, #mobileMenuLinks li a:hover {
    color: var(--blue);
    text-decoration: underline;
}
#header .mobileMenu a:hover {
    color: var(--blue);
    text-decoration: none;
}

#header .mobileMenu {
    position: relative;
    display: none;
}
#mobileMenuLinks {
    position: absolute;
    top: 3.5em;
    right: 0;
    display: none;
}
#mobileMenuLinks li {
    list-style-type: none;
    background: #ffffff;
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em;
    text-align: right;
}

.wrapper {
    width: 1280px;
    margin: auto;
    padding: 0 0.5em;
}

@media all and (max-width: 1280px) {
    .wrapper {
        width: 100%;
        margin: auto;
        padding: 0 0.5em;
    }

    #topografie video {
        z-index: 7005;
    }
}

.wrapper td {
    vertical-align: text-top;
}

.right {
    text-align: right;
}

.contentSection {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

#topografie {
    position: relative;
    z-index: 7000;
}

video {
    position: absolute;
    right: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#topografie video {
    z-index: 7005;
}

#topografie .wrapper, #geoinformatika .wrapper, #kartografie .wrapper, #blog .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8em 0em 1em 0em;
    text-align: center;
}

#topografie .wrapper h1, #geoinformatika .wrapper h1, #kartografie .wrapper h1, #blog .wrapper h1 {
    text-transform: uppercase;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #ffffff;
}

#topografie .wrapper p, #geoinformatika .wrapper p, #kartografie .wrapper p, #blog .wrapper p {
    max-width: 1100px;
    margin: auto;
    font-size: 1.35em;
    margin-top: 1em;
    padding: 0 2em;
    color: #ffffff;
}

@media all and (max-width: 1280px) {
    #topografie .wrapper h1, #geoinformatika .wrapper h1, #kartografie .wrapper h1, #blog .wrapper h1 {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

@media all and (max-width: 600px) {
    #topografie .wrapper h1 {
        font-size: 2.5em;
        margin-top: -0.5em;
        margin-bottom: 0.25em;
    }

    #geoinformatika .wrapper h1, #kartografie .wrapper h1, #blog .wrapper h1 {
        font-size: 2.5em;
        /*margin-top: -2em;*/
        margin-top: -0.5em;
        margin-bottom: 0.25em;
    }

    #topografie .wrapper p, #geoinformatika .wrapper p, #kartografie .wrapper p, #blog .wrapper p {
        font-size: 1.15em;
        margin-top: 1em;
    }

    #header .menu, .canHide, #footer .wrapper td.right {
        display: none;
    }

    #header .mobileMenu {
        display: table-cell;
    }
}

#geoinformatika {
    position: relative;

    background: url("images/data-visualization-large-scaled.jpg") no-repeat;
    background-size: cover;
    z-index: 7100;
}

#kartografie {
    position: relative;

    background: url("images/kartografie.png") no-repeat;
    background-size: cover;
    z-index: 7200;
}

#blog {
    position: relative;

    background: url("images/signal-2024-09-06-192247_002.jpg") no-repeat;
    background-size: cover;
    background-position: top 40% right 0;;
    z-index: 7300;
}

#topografie .wrapper {
    background: rgba(52, 89, 163, 0.75);
    z-index: 7010;
}

#geoinformatika .wrapper {
    background: rgba(97, 163, 117, 0.8);
    z-index: 7110;
}

#kartografie .wrapper {
    background: rgba(216, 39, 22, 0.75);
    z-index: 7210;
}

#blog .wrapper {
    background: rgba(0, 0, 0, 0.5);
    z-index: 7310;
}

#blog .wrapper pre {
    color: #ffffff;
}

#footer {
    padding: 2em 0em 1em 0em;
    position: relative;
    background: #333333;
    z-index: 7700;
    color: #cccccc;
}

#footer .wrapper {
    z-index: 7710;
}

#footer img {
    height: 42px;
}

#footer img.qgis {
    height: 26px;
}

#footer img.saga {
    height: 32px;
}

#footer .wrapper td {
    width: 50%;
}

#footer .wrapper td.right {
    line-height: 48px;
    padding-left: 2em;
}

#footer a:link, #footer a:visited {
    color: #cccccc;
}

#footer a:hover {
    color: var(--company);
}

.leftAlign {
    text-align: left;
}